header {
	background-color: #77dd77;
	color: #ffffff;
}

header .wrapper {
	max-width: 800px;
	margin: auto;
	padding-top: 56px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: 0 40px 56px 0;
}

header p {
	margin-bottom: 56px;
	font-family: 'Montserrat', sans-serif;
	font-size: 3.2rem;
}

@media only screen and (min-width: 601px){
	header .wrapper {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
}

.topics {
	font-family: 'Raleway', sans-serif;
	padding-top: 56px;
	padding-bottom: 40px;
}

.topics h1 {
	color: #77dd77;
	font-size: 2rem;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	text-align: center;
	margin: 0 8px 56px 8px;
}

.topics h1 i{
	margin-right: 16px;
}

.topics .wrapper {
	max-width: 800px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.topics a {
	text-decoration: none;
	color: #000000;
}

.topic {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 40px;
	width: 250px;
}

.topic .round-icon {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-color: #a6e9a6;
	text-align: center;
	font-size: 60px;
	padding-top: 25px;
	color: #ffffff;
}

.topic h2 {
	color: #a6e9a6;
	font-size: 1.6rem;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	margin: 16px 0 8px 0;
}

.topic .call-to-action {
	color: #ffffff;
}

.topic:hover .round-icon{
	background-color: #77dd77;
}

.topic:hover h2 {
	color: #77dd77;
}

.topic:hover .call-to-action {
	color: #259225;
}

@media only screen and (min-width: 601px){
	.topics .wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
}

.classroom {
	background-color: #77dd77;
	padding-top: 56px;
	padding-bottom: 40px;
}

.classroom h1 {
	color: #ffffff;
	font-size: 2rem;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	text-align: center;
	margin: 0 8px 56px 8px;
}

.classroom h1 i{
	margin-right: 16px;
}

.classroom ul{
	max-width: 800px;
	margin: auto;
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
}

.classmate {
	width: 120px;
	margin: 16px;
}

.classmate a, .classmate.disabled{
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	text-align: center;
	font-size: 1.6rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.classmate.disabled{
	color: #2aab2a;
}

.classmate a:hover{
	color: #a092e3;
}

.classmate i {
	margin-bottom: 8px;
}